
<h1> </h1>
<button style="border-radius: 6px;
background-color: #4CAF50;
 border: none;font-size: 16px;
margin: 4px 2px;
cursor: pointer;" (click)= "ngOnclick()" > Create Posts </button>


<div *ngIf="createPost">
  <form (submit) ='formValidation()'><br>
  <label>Title:</label>
  <input type='text' id='title'/><br /> <p id='p1'></p>
   <label>Body</label>
  <input type='text' id='body' /><br />   <p id='p2'></p>
  <button style='border-radius: 2px;  border: none;font-size: 16px; margin: 4px 2px; cursor: pointer;' type="submit" >
    Validate the Form </button>

  </form>
</div>
<div id="outputDiv2"></div>
<br>


